// Vars:
$bg-dark: #555454;
$white-text: #F8F8FF;
$grayscale-opacity: #a0a0a01c;
$green: #0E7A0D;
$size: 260;

//all website:
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    overflow: hidden;
}

.defaultpadding {
    padding-top: 30vh;
}

.mainpageWallpaper {
    min-height: 100vh;
    max-width: auto;
    background-image: url('../../public/wallpaperXbox.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.white-text {
    color: $white-text;
}

.imgSize {
    width: 1vh;
}

.tabSelector {
    border: 0.3vh solid transparent;
    background-color: $grayscale-opacity;
    border-radius: 10vh;
    padding: 3rem;
    padding: 1.25vh 1.5vh;

    &:hover {
        border: 0.3vh solid $green;
        box-shadow: 0 0 4vh $green;
    }
}

// Box:
.boxAcademicFormation {
    width: 25vh;
    height: 25vh;
    border-radius: 1vh;
    display: flex;
    border: 0.3vh solid transparent;
    justify-content: center;
    background-color: $grayscale-opacity;
    flex-direction: column;
    transition: 0.3s;
    margin-bottom: 1rem;

    &:hover {
        border: 0.3vh solid $green;
        box-shadow: 0 0 4vh $green;
        scale: 1.05;
    }
}

.width-config {
    width: 3vh;
}

.card-width-responsive {
    max-width: 30vh;
}

.cardBox {
    transition: 0.3s;
    border: 0.3vh solid transparent;

    &:hover {
        box-shadow: 0 0 4vh $green;
        border: 0.3vh solid $green;
        scale: 1.1;
    }
}

.flex-wrap-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.flex-wrap-3>.card-img {
    flex: 1 1 calc(33.333% - 0.5rem);
    /* Cada cartão ocupa cerca de 1/3 do container */
}


.animation-hover {
    transition: 0.3s;
    padding: 0.1vh;
    border: 0.3vh solid transparent;

    &:hover {
        box-shadow: 0 0 4vh $green;
        border: 0.3vh solid $green;
    }
}

.small-width {
    width: 20vh;
}

//My projects page:
.wallpaperMyProjects {
    min-height: 100vh;
}

.gap-50 {
    gap: 10vh;
}

//CompetencesPage
.competencePageWallpaper {
    min-height: 60vh;
    max-width: auto;
    background-image: url('../../public/xbox-controller.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

// Aside (OffCanva)
.offCanvas {
    display: flex;
    margin: 2rem;
    border-radius: 1rem;
}


//recursos
.font {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.icon-size {
    width: 3rem;
}

//Professional Experiences:


//Personal Information:

.accountImg {
    width: 155vh;
}

.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.small-font {
    font-size: smaller;
}

.active-btn {
    border-right-color: #0E7A0D;
    background-color: $bg-dark;
    border-width: 1vh;
}

//Graph
.graph {
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 60px;
    text-transform: uppercase;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    fill: transparent;
    stroke-width: 12px;
    stroke: $bg-dark;
}

.logo-profile-img {
    width: 5vh;
    height: 5vh;
}

.graph svg.cor {
    stroke: $green;
    stroke-dasharray: 255;
    stroke-dashoffset: calc($size - 36.42);
    transform: rotate(-90deg);
    transform-origin: center;
}

.width-responsive-cardbox {
    min-width: 30vh;
    min-height: 18vh;
    justify-content: center;
}

// My Projects Page : 
.footer {
    position: relative;
    width: 100%;

    .graph-container {
        bottom: 0;
        left: 0;
    }
}

.profile-img {
    width: 5vh;
    height: 5vh;
}

.small-size {
    width: 20vh !important;
    height: 20vh !important;
  }

//  Media query:
@media (max-width: 791px) {
    html,
    body {
        overflow: auto;
    }
}

@media (max-width: 1400px) {
    .btn-xbox {
        display: none;
    }
}

@media (max-width: 1093px) {
    .width-responsive-cardbox {
        min-width: 20vh;
        max-height: 40vh;
        // max-width: 30vh;
    }
}

@media (max-width: 1234px) {
    .justify-content-items {
        justify-content: center;
    }
}

@media (max-width: 434px) {
    .flex-wrap-timing {
        flex-wrap: wrap;
    }

    .justify-content-items {
        padding: 0 4vh;
    }
}

@media (max-height: 1000px) {
    .flex-wrap-timing {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 578px) {
    .hidden-numbers {
        display: none;
    }
}

/* Ajusta o layout para telas menores */
@media (max-width: 1040px) {
    .flex-wrap-3>.card-img {
        flex: 1 1 calc(50% - 0.5rem);
        /* Cada cartão ocupa cerca de 1/2 do container */
    }
    .accountImg {
        width: 40vh;
    }
    .wrap-competences-page {
        flex-wrap: wrap;
    }

    .responsive-image {
        width: 50%;
    }
}

@media (max-height: 668px) {
    .width-responsive-cardbox {
        min-width: 30vh;
        height: 20vh;
    }

    .account {
        font-size: smaller;
    }

    .profile-img {
        max-width: 5vh;
        max-height: 5vh;
        object-fit: cover;
        border-radius: 50%;
        display: block;
        margin: auto;
    }
}

@media(max-height: 463px) {
    .wrap-competences-page {
        flex-wrap: wrap;
    }
}
