// Vars:
$bg-dark: #555454;
$white-text: #F8F8FF;
//all website:
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.defaultpadding{
    padding-top: 30vh;
}

.mainWallpaper{
    min-height: 100vh;
    max-width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../public/programmingWallpaper.jpg');
}

.white-text{
    color: $white-text;
}

// Box:
.box{
    // padding: 3rem;
    // display: flex;
    // background-color: $bg-dark;
    // flex-direction: column;
}

.width-config{
    width: 3vh;
}

.cardBox{
    transition: 0.3s;
    padding: 0.1vh;
    border: 0.3vh solid transparent;
    &:hover{
        box-shadow: 0 0 4vh green;
        border: 0.3vh solid green;
    }
}